@use "../../vendor/variables";

.theme-toggle {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: var(--h-text-color);
    border: none;
    border-radius: 4px;
    
  }
  
  