.header__logo {
    display: block;     /* Убираем лишнее пространство вокруг inline-элемента */
    width: 40px;         /* Пример фиксированной ширины */
    height: 40px;        /* Фиксированная высота */
    object-fit: cover;    /* Обрезает изображение по центру, сохраняя пропорции */
    border-radius: 50%; /* Сделать фото круглым */
    margin-left: 5px;
    margin-right: 10px;
  }