@use "../../vendor/variables" as *;
@use "../../vendor/themes" as *;
@use "../../vendor/mixins" as *;

.header {
    margin: 0; /* обнулить внешние отступы */
    padding: 0; /* обнулить внутренние отступы */
    max-width: 100%; /* header не будет превышать ширину родителя */
    height: 50px; /* Высота фиксированная */
    background: var(--header-bg-color); /* цвет фона */
    
    display: flex; /* Флекс-контейнер */
    flex-direction: row; /* горизонтальное расположение */
    align-items: center; /* Выровнять элементы по вертикали */
    justify-content: space-between; /* Раздвигаем элементы */

    font-family: 'Inter', Arial, sans-serif;
    color: var(--header-h-text-color); /* Цвет текста */

    /* Сглаживание шрифтов */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__left {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 10px;
        transition: filter 0.3s ease; /* Добавляем плавный переход */
    }

    /* Стиль для ссылки с логотипом */
    &__logo-link {
        display: inline-block;
        
        &:hover .header__logo {
            filter: brightness(0.8); /* Затемняем логотип */
        }
    }

    &__name-link {
        font-size: 18px;
        font-weight: 700;
        color: var(--header-h-text-color);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--header-p-text-color);
        }
    }

    &__right {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    /* Медиазапросы */
    @media (min-width: 768px) {
        padding: 0;
    }

    @media (min-width: 1024px) {
        padding-right: 0;
        padding-left: 0;
    }
}
