/* Стиль для ссылки с именем */
.header__name-link {
    font-size: 18px;
    font-weight: 700;
    color: var(--header-h-text-color) !important; /* Принудительно задать цвет */
    text-decoration: none !important; /* Убираем подчеркивание */
    transition: color 0.3s ease;
}

  
  /* При наведении на ссылку с именем текст становится темнее #cccccc */
  .header__name-link:hover {
    color: var(--header-p-text-color) !important; /* Более темный оттенок */
  }
  