{% if user.is_authenticated %}
  {% load django_bootstrap5 %}
  <section class="comments">
    <h3 class="comments__title">Оставить комментарий</h3>
    <form class="comments__form" method="post" action="{% url 'blog:add_comment' post.id %}">
      {% csrf_token %}
      <label class="comments__label" for="comment-text">Ваш комментарий:</label>
      <textarea 
        id="comment-text"
        name="text"
        class="comments__input"
        placeholder="Введите ваш комментарий..."
        rows="4"
        required
      ></textarea>
      <button class="comments__button" type="submit">Отправить</button>
    </form>
  </section>
{% endif %}

<section class="comments__list">
  {% for comment in page_obj %}
    <article class="comment">
      <div class="comment__header">
        <a href="{% url 'blog:profile' comment.author.username %}" class="comment__author" name="comment_{{ comment.id }}">
          @{{ comment.author.username }}
        </a>
        <time class="comment__date" datetime="{{ comment.created_at }}">
          {{ comment.created_at }}
        </time>
      </div>
      <p class="comment__text">{{ comment.text|linebreaksbr }}</p>
      
      {% if user == comment.author or user.is_superuser %}
        <div class="comment__actions">
          <a href="{% url 'blog:edit_comment' post.id comment.id %}" class="comment__link">Редактировать</a>
          <a href="{% url 'blog:delete_comment' post.id comment.id %}" class="comment__link comment__link--delete">Удалить</a>
        </div>
      {% endif %}
    </article>
  {% endfor %}
</section>

{% include "includes/paginator.html" %}
