<!-- blogicum/templates/blog/comment.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit_comment/' in request.path %}
    Редактирование комментария
  {% else %}
    Удаление комментария
  {% endif %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <section class="container d-flex justify-content-center">
      <article class="card w-100 comment-form-container">
        <header class="card-header text-center">
          {% if '/edit_comment/' in request.path %}
            <h4>Редактирование комментария</h4>
          {% else %}
            <h4>Удаление комментария</h4>
          {% endif %}
        </header>
        <div class="card-body">
          <form method="post"
            {% if '/edit_comment/' in request.path %}
              action="{% url 'blog:edit_comment' post_id=comment.post_id comment_id=comment.id %}"
            {% endif %}>
            {% csrf_token %}
            {% if not '/delete_comment/' in request.path %}
              {% bootstrap_form form %}
            {% else %}
              <p class="text-muted">{{ comment.text }}</p>
            {% endif %}
            <footer class="mt-4 d-flex justify-content-center">
              {% bootstrap_button button_type="submit" content="Отправить" %}
            </footer>
          </form>
        </div>
      </article>
    </section>
  {% endif %}
{% endblock %}
