<!-- blogicum/templates/blog/index.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Врач-остеопат в СПб и Волосово Бикетова Александра{% endblock %}
{% block content %}
<br>
<!-- Hero Section -->
<section class="hero-section" id="hero-section">
  <div class="container">
    <h1>Остеопат в Санкт-Петербурге</h1>
    <h2>Бикетова Александра Викторовна</h2>
    <p>Эффективное лечение боли в спине, суставах и ЛОР-заболеваний без медикаментов</p>
    <a href="#" class="btn btn-primary btn-lg mt-4">Записаться на бесплатную консультацию</a>
  </div>
</section>
<!-- Блог -->
<section class="container my-4">
  <div class="row g-4">
    {% for post in page_obj %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 d-flex">
      <article class="card w-100 h-100">
        {% include "includes/post_card.html" %}
      </article>
    </div>
    {% endfor %}
  </div>
</section>  
{% include "includes/paginator.html" %}
{% endblock %}
