{% extends "base.html" %}
{% block title %}Новые посты{% endblock %}
{% block content %}
<section class="posts">
  <div class="posts__container">
    <h1 class="posts__heading">Блог эксперта по недвижимости</h1>
    
    <div class="posts__grid">
      {% for post in page_obj %}
      <article class="posts__card">
        {% include "includes/post_card.html" %}
      </article>
      {% endfor %}
    </div>
    
    <div class="posts__paginator">
      {% include "includes/paginator.html" %}
    </div>
  </div>
</section>
{% endblock %}
