<!-- blogicum/templates/registration/login.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-center">
        У вашего аккаунта нет доступа к этой странице.
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p class="text-center">
        Пожалуйста, войдите в систему,
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}
  <section class="login-section-center py-5">
    <article class="card login-card-width-max">
      <header class="card-header text-center">
        <h5>Войти в систему</h5>
      </header>
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}">
          <div class="text-center mt-3">
            {% bootstrap_button button_type="submit" content="Войти" %}
          </div>
        </form>
        <footer class="text-center mt-4">
          <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </footer>
      </div>
    </article>
  </section>
{% endblock %}
