<!-- blogicum/templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <section class="password_reset_confirm-section-center my-5">
    <article class="card password_reset_confirm-card-width-max">
      <header class="card-header text-center">
        <h5>Восстановление пароля</h5>
      </header>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="text-center mt-3">
            {% bootstrap_button button_type="submit" content="Поменять пароль" %}
          </div>
        </form>
      </div>
    </article>
  </section>
{% endblock %}
