<!-- blogicum/templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <section class="d-flex justify-content-center align-items-center py-5">
    <article class="card w-100 mx-3 resset-form-container">
      <header class="card-header text-center">
        <h4>Отправить письмо для сброса пароля</h4>
      </header>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex justify-content-center mt-4">
            {% bootstrap_button button_type="submit" content="Отправить письмо" %}
          </div>
        </form>
      </div>
    </article>
  </section>
{% endblock %}

