<!-- blogicum/templates/registration/password_change_done.html -->
{% extends "base.html" %}
{% block content %}
  <section class="password_change_done-section-center my-5">
    <article class="card password_change_done-card-width-max">
      <header class="card-header text-center">
        <h1 class="h5">Пароль успешно изменён!</h1>
      </header>
      <div class="card-body text-center">
        <p><a href="{% url 'blog:index' %}" class="btn btn-primary">На главную</a></p>
      </div>
    </article>
  </section>
{% endblock %}
