<!-- blogicum/templates/registration/password_reset_done.html -->
{% extends "base.html" %}
{% block content %}
  <section class="password_reset_done-section-center my-5">
    <article class="card password_reset_done-card-width-max">
      <header class="card-header text-center">
        <h5>Письмо с инструкциями по восстановлению пароля отправлено</h5>
      </header>
      <div class="card-body">
        <p class="text-center">
          Мы отправили вам инструкцию по установке нового пароля
          на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
          Вы должны получить её в ближайшее время.
        </p>
        <p class="text-center">
          Если вы не получили письмо, пожалуйста,
          убедитесь, что вы ввели адрес с которым вы зарегистрировались,
          и проверьте папку со спамом.
        </p>
        <p class="text-center"><a href="{% url 'blog:index' %}" class="btn btn-primary">На главную</a></p>
      </div>
    </article>
  </section>
{% endblock %}
