<!-- blogicum/templates/registration/password_reset_complete.html -->
{% extends "base.html" %}
{% block content %}
  <section class="password_reset_complete-section-center my-5">
    <article class="card password_reset_complete-card-width-max">
      <header class="card-header text-center">
        <h5>Восстановление пароля завершено!</h5>
      </header>
      <div class="card-body text-center">
        <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
        <p><a href="{% url 'login' %}" class="btn btn-primary">Войти</a></p>
      </div>
    </article>
  </section>
{% endblock %}
