<!-- blogicum/templates/registration/password_change_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <section class="password_change_form-section-center my-5">
    <article class="card password_change_form-card-width-max">
      <header class="card-header text-center">
        <h1 class="h5">Поменять пароль</h1>
      </header>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Поменять пароль" %}
        </form>
      </div>
    </article>
  </section>
{% endblock %}
