<!-- blogicum/templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <section class="password_reset_form-section-center py-5">
    <article class="card password_reset_form-card-width-max">
      <header class="card-header text-center">
        <h5>Отправить письмо для сброса пароля</h5>
      </header>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="text-center mt-4">
            {% bootstrap_button button_type="submit" content="Отправить письмо" %}
          </div>
        </form>
      </div>
    </article>
  </section>
{% endblock %}

