<!-- blogicum/templates/pages/about.html -->
{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-lg-8 col-md-10 col-sm-12 my-4">
      <div class="card-header">
	      <h1>О проекте</h1>
      </div>
      <div class="card-body">
        <section aria-labelledby="general" role="region">
          <p>
            Блогикум — это дом для творческих людей. Это — сообщество людей, для которых
            нет грани между ведением блога и дружбой в социальных сетях.
          </p>
          <p>
            Дружба и рассказы о новых, неизведанных впечатлениях — вот
            что вы найдете на нашем ресурсе. Миллионы блогов по различным темам.
            Путешествия, политика, развлечения, мода, литература, дизайн и все
            другие сферы человеческой деятельности.
          </p>
          <p>
            Творчество, разнообразие и свобода взглядов и самовыражения —
            основные черты наших пользователей.
          </p>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

