{% extends "base.html" %}
{% load static %}
{% block title %}Карина Дерябина - эксперт по недвижимости в Москве и Краснодаре{% endblock %}
{% block content %}
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Выгодные предложения</h2>
            
        </div>
    </section>
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Мои успешные кейсы</h2>
        
        </div>
    </section>
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Отзывы клиентов</h2>
        
        </div>
    </section>
    
    <!-- Видео отзывы -->
    {% include "includes/video-reviews.html" %}
    
{% endblock %}