{% extends "base.html" %}
{% load static %}
{% block title %}Карина Дерябина - эксперт по недвижимости в Москве и Краснодаре{% endblock %}
{% block content %}
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Выгодные предложения</h2>
            
        </div>
    </section>
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Мои успешные кейсы</h2>
        
        </div>
    </section>
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Отзывы клиентов</h2>
        
        </div>
    </section>
    
    <!-- Видео отзывы -->
    <section class="video-reviews">
        <div class="video-reviews__container">
            <h2 class="video-reviews__heading">Видео отзывы</h2>
            <div class="video-reviews__grid">
                <div class="video-reviews__item">
                    <video class="video-reviews__video" controls>
                        <source src="{% media 'blogs_videos/otziv-001.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="video-reviews__item">
                    <video class="video-reviews__video" controls>
                        <source src="{% media 'blogs_videos/otziv-001.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>

{% endblock %}