{% extends "base.html" %}
{% load static %}
{% block title %}Карина Дерябина - эксперт по недвижимости в Москве и Краснодаре{% endblock %}
{% block content %}
    <section class="posts">
        <div class="posts__container">
            <h2 class="posts__heading">Выгодные предложения</h2>
            <div class="posts__container">
                <div class="posts__grid">
                    {% for post in page_obj %}
                    <article class="posts__card">
                    {% include "includes/post_card.html" %}
                    </article>
                    {% endfor %}
                </div>
              </div>
        </div>
    </section>

    <!-- Блок с видео отзывами -->
    <section class="video-reviews">
        <div class="video-reviews__container">
            <h2 class="video-reviews__heading">Видео отзывы</h2>
            <div class="video-reviews__grid">
                <article class="video-reviews__card">
                    <video class="video-reviews__video" controls>
                        <source src="https://kvartirabezvznosa.s3.cloud.ru/media/blogs_videos/otziv-001.mp4" type="video/mp4">
                    </video>
                </article>
                <article class="video-reviews__card">
                    <video class="video-reviews__video" controls>
                        <source src="https://kvartirabezvznosa.s3.cloud.ru/media/blogs_videos/otziv-001.mp4" type="video/mp4">
                    </video>
                </article>
                <article class="video-reviews__card">
                    <video class="video-reviews__video" controls>
                        <source src="https://kvartirabezvznosa.s3.cloud.ru/media/blogs_videos/otziv-001.mp4" type="video/mp4">
                    </video>
                </article>
                <article class="video-reviews__card">
                    <video class="video-reviews__video" controls>
                        <source src="https://kvartirabezvznosa.s3.cloud.ru/media/blogs_videos/otziv-001.mp4" type="video/mp4">
                    </video>
                </article>
            </div>
        </div>
    </section>
    


{% endblock %}