<!-- blogicum/templates/pages/rules.html -->
{% extends "base.html" %}
{% block title %}
  Правила сайта
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-lg-8 col-md-10 col-sm-12 my-4">
      <div class="card-header">
	      <h1>Правила сайта</h1>
      </div>
      <div class="card-body">
        <section aria-labelledby="general" role="region">
          <h5 id="general">Cамовыражение</h5>
          <p>
            У наших пользователей должна
            быть возможность создать что-то своё, выразить себя,
            свои мысли и чувства.
          </p>
          <h5 id="general">Многообразие</h5>
          <p>
            Мы уважаем и приветствуем разные
            мнения и культуры. Блогикум — это место, объединяющее
            самых разных людей. Поделитесь своим уникальным взглядом на мир.
          </p>
          <h5 id="general">Личность</h5>
          <p>
            Мы сохраним ваши сокровенные мысли в тайне.
            Делитесь своей информацией только с теми, кого выбрали.
            Как и насколько засекречивать вашу личную информацию —
            определяете вы и только вы.
          </p>
        </section>
      </div>
    </div>
  </div>
{% endblock %}