{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html prefix="place: https://ogp.me/ns/place#" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Остеопат в Санкт-Петербурге и Сертолово — лечение детей и взрослых{% endblock %}</title> 
    <!-- SEO Meta Tags -->
    <meta name="description" content="Остеопат в Санкт-Петербурге и Сертолово. Лечение детей и взрослых. Запись по тел. +7(905)229-46-50. Эффективно и с заботой о здоровье.">
    <meta name="author" content="Виолетта Игоревна Валетчик">
    <meta name="robots" content="index, follow">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Остеопат в Санкт-Петербурге и Сертолово — лечение детей и взрослых">
    <meta property="og:description" content="Остеопат в Санкт-Петербурге и Сертолово. Лечение детей и взрослых. Запись по тел. +7(905)229-46-50. Эффективно и с заботой о здоровье.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://osteopat-violetta.ru/">
    <meta property="og:image" content="https://osteopat-violetta.ru/static/img/index/hero_section_img-1.jpg">
    <meta property="og:image:alt" content="Остеопат лечит девочку">
    <meta property="og:site_name" content="Остеопат Виолетта">
    <meta property="og:locale" content="ru_RU">
    <meta property="office1:place:location:latitude" content="60.003421">
    <meta property="office1:place:location:longitude" content="30.275165">
    <meta property="office2:place:location:latitude" content="60.141452">
    <meta property="office2:place:location:longitude" content="30.224438">
    
    <link rel="canonical" href="https://osteopat-violetta.ru/">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="alternate" hreflang="ru" href="https://osteopatvioletta.ru/">

  </head>
  <body>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "MedicalBusiness",
        "name": "Остеопат Виолетта",
        "telephone": "+79052294650",
        "department": [
          {
            "@type": "MedicalBusiness",
            "name": "Офис в Санкт-Петербурге",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Санкт-Петербург",
              "streetAddress": "ул. Байконурская, д. 15"
            },
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": 60.003421,
              "longitude": 30.275165
            }
          },
          {
            "@type": "MedicalBusiness",
            "name": "Офис в Сертолово",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Сертолово",
              "addressRegion": "Ленинградская область",
              "streetAddress": "ул. Центральная, д. 1, к. 1"
            },
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": 60.141452,
              "longitude": 30.224438
            }
          }
        ]
      }
    </script>
     
    {% include "includes/header.html" %}
    <br>
    
    {% block content %}{% endblock %}
    
    {% include "includes/footer.html" %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/css_class_activate_monitoring.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>