{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html prefix="place: https://ogp.me/ns/place#" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Купить квартиру в Москве без первоначального взноса — даже с плохой кредитной историей!{% endblock %}</title> 
    <!-- SEO Meta Tags -->
    <meta name="description" content="Одобрение ипотеки за 6 часов. Переезд через 30 дней. Гарантируем одобрение или вернем деньги! Тел:8(903)235-44-16">
    <meta name="author" content="Карина Игоревна Дерябина">
    <meta name="robots" content="index, follow">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Купить квартиру в Москве без первоначального взноса — даже с плохой кредитной историей!">
    <meta property="og:description" content="Одобрение ипотеки за 6 часов. Переезд через 30 дней. Гарантируем одобрение или вернем деньги! Тел:8(903)235-44-16">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kvartirabezvznosa.ru/">
    <meta property="og:image" content="https://kvartirabezvznosa.ru/static/img/index/hero_section_img-1.jpg">
    <meta property="og:image:alt" content="Купить квартиру в Москве без первоначального взноса — даже с плохой кредитной историей!">
    <meta property="og:site_name" content="Купить квартиру в Москве">
    <meta property="og:locale" content="ru_RU">
    <meta property="office1:place:location:latitude" content="55.766131">
    <meta property="office1:place:location:longitude" content="37.604205">
    
    <link rel="canonical" href="https://kvartirabezvznosa.ru/">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="alternate" hreflang="ru" href="https://ipotekabezvznosa.ru/">
    <link rel="alternate" hreflang="ru" href="https://bezvznosa.ru/">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(99892987, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99892987" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </head>
  <body>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "RealEstateAgent",
        "name": "Купить квартиру в Москве",
        "telephone": "+79032354416",
        "department": [
          {
            "@type": "RealEstateAgent",
            "name": "Офис в Москве",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Москва",
              "streetAddress": "ул. Тверская, 18к1, 127006"
            },
            "geo": {
              "@type": "GeoCoordinates",
              "latitude": 55.766131,
              "longitude": 37.604205
            }
          },
        ]
      }
    </script>
     
    {% include "includes/header.html" %}
    <br>
    
    {% block content %}{% endblock %}
    
    {% include "includes/footer.html" %}
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/css_class_activate_monitoring.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    
  </body>
</html>