{% if user.is_authenticated %}
  {% load django_bootstrap5 %}
  <section class="comments">
    <div class="comments__container">
      <article class="comments__card">
        <div class="comments__form-container">
          <h3 class="comments__title">Оставить комментарий</h3>
          <form class="comments__form" method="post" action="{% url 'blog:add_comment' post.id %}">
            {% csrf_token %}
            <label class="comments__label" for="comment-text">Ваш комментарий:</label>
            <textarea 
              id="comment-text"
              name="text"
              class="comments__input"
              placeholder="Введите ваш комментарий..."
              rows="4"
              required
            ></textarea>
            <button class="comments__button" type="submit">Отправить</button>
          </form>
        </div>
      </article>
    </div>
  </section>
{% endif %}

<section class="comments">
  <div class="comments__container">
    <article class="comments__card">
      <div class="comments__list">
        {% for comment in page_obj %}
          <div class="comments__item">
            <div class="comments__header">
              <a href="{% url 'blog:profile' comment.author.username %}" class="comments__author" name="comment_{{ comment.id }}">
                @{{ comment.author.username }}
              </a>
              <time class="comments__date" datetime="{{ comment.created_at }}">
                {{ comment.created_at }}
              </time>
            </div>
            <p class="comments__text">{{ comment.text|linebreaksbr }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
</section>

{% include "includes/paginator.html" %}
