{% load static %}
<header class="header">
    <div class="header__left">
        <a href="/" class="header__logo-link">
            <img
            class="header__logo"
            src="{% static 'images/header/header-logo.png' %}"
            alt="Логотип - фронтальное фото лица Карины Дерябиной"
            >
        </a>
        <a href="/" class="header__name-link">
            Карина Дерябина
        </a>
    </div>
    <div class="header__right">
        <button class="hamburger-icon" id="hamburger-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>

    <!-- Попап меню -->
    <nav class="popup-menu" id="popup-menu">
        <ul class="popup-menu__list">
            <li class="popup-menu__item">
                <a href="/" class="popup-menu__link">Главная</a>
            </li>
            <li class="popup-menu__item">
                <a href="/posts/list/" class="popup-menu__link">Блог</a>
            </li>
            <li class="popup-menu__item">
                <a href="/about" class="popup-menu__link">О нас</a>
            </li>
            <li class="popup-menu__item">
                <a href="/services" class="popup-menu__link">Услуги</a>
            </li>
            <li class="popup-menu__item">
                <a href="/contact" class="popup-menu__link">Контакты</a>
            </li>
            <li>
                <button id="theme-toggle" class="theme-toggle">Сменить тему</button>
            </li>
        </ul>
    </nav>
    
</header>