{% load static %}
<header>
    <nav class="navbar navbar-light bg-white fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center logo-section">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/logo.png' %}" alt="Логотип сайта Остеопат Бикетова" class="rounded-circle logo-spacing" loading="lazy">
                    <span class="ml-3">Остеопат Виолетта</span>
                </a>
            </div>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#services">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">О враче</a></li>
                    <li class="nav-item"><a class="nav-link" href="#certificates">Квалификация</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#social">Социальные сети</a></li>
                </ul>
                <div class="d-flex align-items-center social-icons">
                    <a class="nav-link px-2" href="https://wa.me/79052294650" target="_blank" rel="noopener" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="nav-link px-2" href="https://t.me/B3a56" target="_blank" rel="noopener" aria-label="Telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="nav-link px-2" href="https://vk.com/club136944002" target="_blank" rel="noopener" aria-label="ВКонтакте">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    
</header>
<br>
<!-- Hero Section -->
<section id="hero-section" class="hero-section" >
  <div class="container">
    <h1>Остеопат в Санкт-Петербурге и Сертолово</h1>
    <h2>Виолетта Валетчик
    </h2>
    <p>Эффективное лечение боли в спине, суставах и ЛОР-заболеваний без медикаментов</p>
    <a href="https://wa.me/79052294650" class="btn btn-primary btn-lg mt-4">Задать вопрос в WhatsApp</a>
  </div>
</section>
<br>