{% load static %}
<header>
    <nav class="navbar navbar-light bg-white fixed-top">
        {% with request.resolver_match.view_name as view_name %}
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center logo-section">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/logo.png' %}" alt="Логотип сайта Остеопат Виолетта" class="rounded-circle logo-spacing" loading="lazy">
                    <span class="ms-3">Остеопат Виолетта</span>
                </a>
            </div>
    
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#services" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">О враче</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mystory" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Видео рассказ о себе</a></li>
                    <li class="nav-item"><a class="nav-link" href="#fotogalery" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Фото галерея</a></li>
                    <li class="nav-item"><a class="nav-link" href="#certificates" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Дипломы и сертификаты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#video-tur" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Видео отзывы пациентов</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#social" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Социальные сети</a></li>
                </ul>
                <div class="d-flex align-items-center social-icons">
                    <a class="nav-link" href="/posts/list/" >Блог Остеопата</a>
                </div>
                <div class="d-flex align-items-center social-icons">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="/admin/blog/post/add/" >Написать пост</a>
                        <a class="nav-link" href="{% url 'blog:profile' user.username %}" >{{ user.username }}</a>
                        <a class="nav-link" href="{% url 'logout' %}" >Выйти</a>
                    {% else %}
                        <a class="nav-link" href="/auth/login/" >Войти</a>
                        <a class="nav-link" href="/auth/registration/" >Регистрация</a>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center social-icons">
                    <a class="nav-link px-2" href="https://wa.me/79052294650" target="_blank" rel="noopener" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="nav-link px-2" href="https://t.me/B3a56" target="_blank" rel="noopener" aria-label="Telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="nav-link px-2" href="https://vk.com/club136944002" target="_blank" rel="noopener" aria-label="ВКонтакте">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endwith %}
    </nav>
    
</header>
<br>
