<article class="post-card">
  {% if post.image %}
  <figure class="post-card__image-container">
    <img class="post-card__image" src="{{ post.image.url }}" alt="Изображение карточки: {{ post.title }}">
  </figure>
  {% endif %}

  <section class="post-card__body">
    <header class="post-card__header">
      <h4 class="post-card__title">{{ post.title }}</h4>
    </header>

    {% if not post.is_published %}
      <p class="post-card__status post-card__status--danger">Пост снят с публикации админом</p>
    {% elif not post.category.is_published %}
      <p class="post-card__status post-card__status--danger">Выбранная категория снята с публикации админом</p>
    {% endif %}

    <p class="post-card__meta">
      {{ post.pub_date|date:"d E Y, H:i" }} | 
      {% if post.location and post.location.is_published %}
        {{ post.location.name }}
      {% else %}
        Тестовый текст
      {% endif %}
      <br>
      Автор <a class="post-card__author" href="{% url 'blog:profile' post.author.username %}">@{{ post.author.username }}</a>
      <br>
      Категория {% include "includes/category_link.html" %}
    </p>

    <footer class="post-card__footer">
      <a href="{% url 'blog:post_detail' post_id=post.id %}" class="post-card__button post-card__button--primary">Читать пост</a>
      <a href="{% url 'blog:post_detail' post_id=post.id %}" class="post-card__button post-card__button--secondary">
        Комментарии ({{ post.comment_count }})
      </a>
    </footer>
  </section>
</article>
