<section class="slider">
    <div class="slider__container">
        <button class="slider__arrow slider__arrow--left" aria-label="Предыдущий слайд">&#10094;</button>
        <div class="slider__inner">
            <div class="slider__track">
                <div class="slider__slide">
                    <img src="https://kvartirabezvznosa.s3.cloud.ru/media/slider/slider-image-01.jpeg" alt="Слайд 1" class="slider__image">
                </div>
                <div class="slider__slide">
                    <img src="https://kvartirabezvznosa.s3.cloud.ru/media/slider/slider-image-02.jpeg" alt="Слайд 2" class="slider__image">
                </div>
                <div class="slider__slide">
                    <img src="https://kvartirabezvznosa.s3.cloud.ru/media/slider/slider-image-03.jpeg" alt="Слайд 3" class="slider__image">
                </div>
            </div>
        </div>
        <button class="slider__arrow slider__arrow--right" aria-label="Следующий слайд">&#10095;</button>
        <div class="slider__dots"></div>
    </div>
</section>