.card-img-container {
    width: 100%; /* Контейнер будет растягиваться по ширине карточки */
    height: 0; /* Сначала высота равна 0 */
    padding-top: 100%; /* Соотношение сторон 1:1, высота = ширина */
    position: relative; /* Для позиционирования дочернего элемента */
    overflow: hidden; /* Скрываем лишние части изображения */
  }
  
.card-img-top {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 0;
    left: 0;
    width: 100%; /* Масштабируем изображение */
    height: 100%; /* Масштабируем изображение */
    object-fit: cover; /* Обрезаем изображение, чтобы оно заполнило контейнер */
  }

  .comment-form-container {
    max-width: 600px;
  }

  .resset-form-container {
    max-width: 600px;
  }

  .login-form-container {
    max-width: 600px;
  }

  