body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; 
}

h1 {
  font-size: calc(1.5rem + 2vw); /* Адаптация для разных экранов */
  font-weight: bold;
}

h2 {
  font-size: calc(1.25rem + 1.5vw);
}

h3 {
  font-size: calc(1rem + 1vw);
}

h4 {
  font-size: calc(1rem + 1vw);
}

h5 {
  font-size: calc(1rem + 1vw);
}

h6 {
  font-size: calc(1rem + 1vw);
}

p {
  font-size: calc(0.9rem + 0.5vw); /* Адаптация для параграфов */
}

.btn-primary {
  font-size: calc(0.8rem + 0.5vw); /* Адаптация для кнопок */
}

/* Коррекция для мобильных устройств */
@media (max-width: 768px) {
  
  h1 {
      font-size: 2rem; /* Ограничение для слишком больших шрифтов */
  }

  h2 {
      font-size: 1.75rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
      font-size: 1rem; /* Читаемый текст для мобильных экранов */
  }

  .btn-primary {
      font-size: 1rem;
  }
}
/* Шапка сайта */
.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #e0e0e0;
}
/* Затемняющий слой */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.hero-section[data-fallback="true"] {
  background-image: url('../../static/img/index/hero_section_img-1.jpg');
}
.hero-section h1,
.hero-section h2,
.hero-section p,
.hero-section .btn-primary {
  position: relative;
  z-index: 2; 
}
.hero-section h1 {
  font-size: 48px;
  font-weight: bold;
}
.hero-section h2 {
  font-size: 36px;
  font-weight: bold;
}
.hero-section p {
  font-size: 20px;
  margin-top: 20px;
}
.btn-primary {
  background-color: #006644;
  border-color: #006644;
  z-index: 2;
}
.btn-primary:hover {
  background-color: #28A745;
  border-color: #28A745;
}
/* Услуги */
.section-heading {
  font-size: 36px;
  color: #006644;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
/*
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-img-container {
    width: 100%; 
    height: 0; 
    padding-top: 100%; 
    position: relative; 
    overflow: hidden; 
}
*/

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .comment-form-container {
    max-width: 600px;
  }

/* Центровка секции для страницы password_reset_form */
.password_reset_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы password_reset_form */
.password_reset_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы login */
.login-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы login */
.login-card-width-max {
  width: 100%;
  max-width: 30rem;
  margin: 1rem;
}

  /* Центровка секции по горизонтали и вертикали на странице logged_out */
.logged_out-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице logged_out */
.logged_out-card-width-max {
  width: 100%;
  max-width: 40rem;
}

.logo-container {
  margin-left: 0.5rem;
}

.logo-spacing {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.navbar {
  padding: 1rem 0;
}

.navbar-nav {
  gap: 1rem;
  font-size: 1.2rem; 
  font-weight: 500;  
}

.navbar-collapse {
  flex-grow: 2;
}

.nav-link {
  font-size: 1.2rem; 
  font-weight: 500;  
  color: #000;
  transition: color 0.2s;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none; 
  color: inherit; 
}

.logo-text:hover {
  text-decoration: none;
}

.logo-section {
  flex-grow: 1;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
}

.social-icons {
  flex-grow: 1;
  justify-content: flex-start;
}

/* Общие стили для иконок соцсетей */
.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none; /* Убираем подчеркивание */
  position: relative;
}

/* Изменение цвета при наведении */
.social-icons a:hover {
  color: #006644;
}

/* Убираем черточку, если она появляется при наведении */
.social-icons a::after {
  content: ''; /* Пустой контент */
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Исправляем поведение при наведении */
.social-icons a:hover::after {
  width: 0; /* Не даем появляться черточке */
  height: 0;
  background-color: transparent;
}

/* Центровка секции по горизонтали и вертикали на странице password_change_done */
.password_change_done-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_change_done */
.password_change_done-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции по горизонтали и вертикали на странице password_change_form */
.password_change_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_change_form */
.password_change_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции по горизонтали и вертикали на странице password_reset_done */
.password_reset_done-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_reset_done */
.password_reset_done-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы password_reset_complete */
.password_reset_complete-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки для страницы password_reset_complete */
.password_reset_complete-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы password_reset_confirm */
.password_reset_confirm-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки для страницы password_reset_confirm */
.password_reset_confirm-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы registration_form */
.registration_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы registration_form */
.registration_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

.custom-pagination {
  background-color: #ffffff; /* Белый фон */
  color: #004d30; /* Темно-зеленый текст */
  border: 2px solid #004d30; /* Темно-зеленая рамка */
  border-radius: 5px;
  padding: 6px 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-align: center;
}

.custom-pagination:hover,
.custom-pagination:focus {
  background-color: #28a745; /* Ярко-зеленый цвет при наведении */
  color: #ffffff; /* Белый текст остается */
  border-color: #28a745;
}

.custom-pagination.active {
  background-color: #004d30; /* Темно-зеленый фон для активной кнопки */
  color: #ffffff; /* Белый текст */
  border-color: #004d30;
  pointer-events: none;
}
