body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; 
}

h1 {
  font-size: calc(1.5rem + 2vw); /* Адаптация для разных экранов */
  font-weight: bold;
}

h2 {
  font-size: calc(1.25rem + 1.5vw);
}

h3 {
  font-size: calc(1rem + 1vw);
}

h4 {
  font-size: calc(1rem + 1vw);
}

h5 {
  font-size: calc(1rem + 1vw);
}

h6 {
  font-size: calc(1rem + 1vw);
}

p {
  font-size: calc(0.9rem + 0.5vw); /* Адаптация для параграфов */
}


.card-img-container {
    width: 100%; /* Контейнер будет растягиваться по ширине карточки */
    height: 0; /* Сначала высота равна 0 */
    padding-top: 100%; /* Соотношение сторон 1:1, высота = ширина */
    position: relative; /* Для позиционирования дочернего элемента */
    overflow: hidden; /* Скрываем лишние части изображения */
  }
  
.card-img-top {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  .comment-form-container {
    max-width: 600px;
  }

  /* Центровка секции для страницы password_reset_form */
.password_reset_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы password_reset_form */
.password_reset_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы login */
.login-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы login */
.login-card-width-max {
  width: 100%;
  max-width: 30rem;
  margin: 1rem;
}

  /* Центровка секции по горизонтали и вертикали на странице logged_out */
.logged_out-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице logged_out */
.logged_out-card-width-max {
  width: 100%;
  max-width: 40rem;
}

.logo-container {
  margin-left: 0.5rem;
}

.logo-spacing {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.navbar {
  padding: 1rem 0;
}

.navbar-nav {
  gap: 1rem;
  font-size: 1.2rem; 
  font-weight: 500;  
}

.navbar-collapse {
  flex-grow: 2;
}

.nav-link {
  font-size: 1.2rem; 
  font-weight: 500;  
  color: #000;
  transition: color 0.2s;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none; 
  color: inherit; 
}

.logo-text:hover {
  text-decoration: none;
}

.logo-section {
  flex-grow: 1;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
}

.social-icons {
  flex-grow: 1;
  justify-content: flex-start;
}

/* Общие стили для иконок соцсетей */
.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none; /* Убираем подчеркивание */
  position: relative;
}

/* Изменение цвета при наведении */
.social-icons a:hover {
  color: #006644;
}

/* Убираем черточку, если она появляется при наведении */
.social-icons a::after {
  content: ''; /* Пустой контент */
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Исправляем поведение при наведении */
.social-icons a:hover::after {
  width: 0; /* Не даем появляться черточке */
  height: 0;
  background-color: transparent;
}

/* Центровка секции по горизонтали и вертикали на странице password_change_done */
.password_change_done-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_change_done */
.password_change_done-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции по горизонтали и вертикали на странице password_change_form */
.password_change_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_change_form */
.password_change_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции по горизонтали и вертикали на странице password_reset_done */
.password_reset_done-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки на странице password_reset_done */
.password_reset_done-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы password_reset_complete */
.password_reset_complete-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки для страницы password_reset_complete */
.password_reset_complete-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы password_reset_confirm */
.password_reset_confirm-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничение ширины карточки для страницы password_reset_confirm */
.password_reset_confirm-card-width-max {
  width: 100%;
  max-width: 40rem;
}

/* Центровка секции для страницы registration_form */
.registration_form-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Ограничение ширины карточки для страницы registration_form */
.registration_form-card-width-max {
  width: 100%;
  max-width: 40rem;
}
