.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background: var(--page-bg-color);
  width: 100%; 
  margin: 0;            
  padding: 0;           
  -webkit-font-smoothing: antialiased; /*сглаживание шрифтов в Safari и во всех браузерах на платформе Chromium*/
  -moz-osx-font-smoothing: grayscale; /*сглаживание шрифтов в Mozilla Firefox*/
}

/* Для экранов от 768px до 1023px (планшеты) */
@media (min-width: 768px) {
  .page {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;    /* центрирование по горизонтали */
    padding: 0;     /* чуть больше внутренних отступов */
  }
}

/* Для экранов от 1024px (но до 1280px) */
@media (min-width: 1024px) {
  .page {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;    /* центрирование по горизонтали */
    padding: 0;       /* еще больше внутренних отступов для комфортного отображения */
  }
}

/* Для экранов от 1280px и выше */
@media (min-width: 1280px) {
  .page {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;    /* центрирование по горизонтали */
    padding: 0;  
  }
}
